div{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-top-right-radius: 50%;
border-bottom-left-radius: 50%;
    /* margin: auto; */
    /* display: inline-block; */
}

#red{
    background-color: red;
    margin-left:0px;
}
#blue{
    background-color:blue;
    margin-left: 200px;
}
#green{
    background-color:green;
    margin-left: 100px;
}
#purple{
    background-color:gray;
    margin-left: 300px;
}